<table>
    <tr>
        <td>
            <h1>{{name}}</h1>
        </td>
        <td class='alnright'>
            <div class='alnright'>
                <nav>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                    <a routerLink="/interests" routerLinkActive="active">Interests</a>
                    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
                </nav>
            </div>
        </td>
    </tr>
</table>
<div>
    <table>
        <tr>
            <td>
                <img src='../app/images/yifan_school.png' alt="Yifan in school"/>
            </td>
            <td>
                Yifan is a student studying in Newton South High School and he is in his senior year now.
            </td>
        </tr>
    </table>
</div>
<router-outlet></router-outlet>
